<div id="<%= dom_id manager %>">
  <p>
    <strong>Name:</strong>
    <%= manager.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= manager.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

</div>
