<h1>Editing manager</h1>

<%= render "form", manager: @manager %>

<br>

<div>
  <%= link_to "Show this manager", @manager,class:"btn btn-outline-warning" %> 
  <%= link_to "Back to managers", managers_path,class:"btn btn-outline-success" %>
</div>
