<h1>WELCOME TO THE BOOK'S SHOP</h1>
<%= link_to 'Books', articles_path , class:"btn btn-outline-info"%><br>
<%= link_to 'manager', managers_path,class:"btn btn-outline-success"%><br>
<%= link_to 'client',clients_path, class:"btn btn-outline-warning"%>